{% extends "base.html" %}

{% load static %}
{% load cart_tools %}

{% block content %}
    {% comment %} Hero Section {% endcomment %}
    <section class="relative">
        <img class="object-cover w-full max-h-screen" src="{% static "images/products-hero-image.webp" %}" alt="White sneakers with title text and globe icon.">
    </section>

    {% comment %} Shopping Cart Banner {% endcomment %}
    <div class="py-2 text-3xl text-center bg-black">
        <h2 class="font-black text-white">Shopping Cart</h2>
    </div>

    <section class="flex flex-col items-center gap-20 px-5 py-20 lg:gap-12 lg:px-10 lg:items-start lg:flex-row lg:max-w-[1400px] lg:mx-auto">
        {% comment %} Cart Item List {% endcomment %}
        {% if cart_items %}
            <div class="grid w-full grid-cols-1 {% if unique_shoe_count == 1 %}sm:grid-cols-1 {% else %}sm:grid-cols-2{% endif %} gap-14 sm:gap-16 lg:grid-cols-1">
                {% for item in cart_items %}
                    {% comment %} Cart Item {% endcomment %}
                    <div class="flex flex-col mx-auto justify-between items-center w-full gap-2 lg:gap-8 lg:flex-row max-w-[400px] lg:max-w-[800px] lg:mx-0">
                        <a class="block w-2/3"  href="{% url "product-detail" item.item_id %}">
                            <img src="{{ item.product.get_image_url }}" alt="Showcase image of the shoe">
                        </a>
                        {% comment %} Product Info {% endcomment %}
                        <div class="w-full lg:w-2/3">
                            <h3 class="text-sm text-gray-500">{{ item.product.department.name }} {{ item.product.shoe_type.name }}</h3>
                            <h2>{{ item.product.name }}</h2>
                            <div class="flex gap-2">
                                <p>Size: <strong>{{ item.size }}</strong></p>
                                <p>Qty: <strong>{{ item.quantity }}</strong></p>
                            </div>
                            {% if item.product.on_sale %}
                                    <div class="flex gap-2">
                                        <div class="flex flex-col items-center justify-center px-2 text-sm text-white bg-black">
                                            -{{ item.product.sale_percentage|floatformat:"0" }}%
                                        </div>
                                        <span class="line-through">
                                            €{{ item.product.list_price | calc_subtotal:item.quantity | floatformat:2 }}
                                        </span>
                                        <span class="font-bold">
                                            €{{ item.product.current_price | calc_subtotal:item.quantity | floatformat:2 }}
                                        </span>
                                    </div>
                                {% else %}
                                    <span class="font-bold">
                                        €{{ item.product.current_price | calc_subtotal:item.quantity | floatformat:2 }}
                                    </span>
                                {% endif %}
                        </div>

                        {% comment %} Product Quantity {% endcomment %}
                        <div class="w-full mt-2">
                            <form x-data="{ quantity: {{ item.quantity }} }" class="w-full space-y-2" method="POST" action="{% url 'update-cart' item.item_id %}">
                                {% csrf_token %}
                                <input type="hidden" name="name" value="{{ item.product.name }}">
                                <label class="font-bold" for="{{ item.product.id }}_quantity">Quantity</label>
                                <div class="flex w-full">
                                    <div @click="quantity > 1 ? quantity-- : quantity = 1" x-bind:disabled="quantity <= 1" class="flex items-center justify-center w-10 bg-black cursor-pointer">
                                        <img class="w-6 cursor-pointer" src="{% static 'images/minus-icon.svg' %}" alt="Minus icon for decrementing the quantity">
                                    </div>
                                    <input x-model="quantity" id="{{ item.product.id }}_quantity" class="w-full p-1 pl-2 border no-spinner" type="number" min="1" max="99">
                                    <input type="hidden" name="quantity" x-bind:value="quantity">
                                    <input type="hidden" name="size" x-bind:value="{{item.size}}">
                                    <div @click="quantity++" class="flex items-center justify-center w-10 bg-black cursor-pointer">
                                        <img class="w-6 cursor-pointer" src="{% static 'images/plus-icon.svg' %}" alt="Plus icon for incrementing the quantity">
                                    </div>
                                </div>

                                <div class="flex justify-between mt-4">
                                    <button name="action" value="update" href="{% url "update-cart" item.item_id %}">Update</button>
                                    <button name="action" value="remove" href="{% url "update-cart" item.item_id %}">Remove</button>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {% comment %} Cart Summary {% endcomment %}
            <div class="w-full sm:w-2/3 max-w-[400px] space-y-2">
                <h3 class="text-2xl font-bold">Summary</h3>
                <div class="flex justify-between">
                    <span>Subtotal</span>
                    <span>€{{ total }}</span>
                </div>
                {% if delivery > 0 %}
                    <div class="w-full py-1 text-center text-white bg-black">You only need to spend <strong>€{{free_delivery_delta}}</strong> more for <strong>free delivery!</strong></div>
                {% endif %}
                <div class="flex justify-between">
                    <span>Delivery</span>
                    <span>€{{ delivery|floatformat:2  }}</span>
                </div>
                <img src="{% static "images/horizontal-seperator.png" %}" alt="">
                <div class="flex justify-between py-2 text-xl font-bold">
                    <span>Total</span>
                    <span>€{{ grand_total|floatformat:2  }}</span>
                </div>
                <img src="{% static "images/horizontal-seperator.png" %}" alt="">
                <div class="pt-6 space-y-4">
                        <a class="block" href="{% url "checkout" %}">
                            <button class="w-full py-3 font-bold text-white bg-black rounded cursor-pointer">Checkout</button>
                        </a>
                        <a class="block" href="{% url "home" %}">
                            <button class="w-full py-3 border rounded cursor-pointer">Keep Shopping</button>
                        </a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="py-12 mx-auto space-y-8 text-lg text-center">
                <p class="text-center text-gray-400">Your shopping cart is empty</p>
                <a class="block px-8 py-3 border rounded cursor-pointer" href="{% url "home" %}">Keep Shopping</a>
            </div>
        {% endif %}
    </section>

    <script type="text/javascript">
        // Remove product and reload on click
        document.querySelectorAll('.remove-product').forEach(item => {
            item.addEventListener('click', event => {
                const csrfToken = "{{ csrf_token }}";
                const itemId = item.dataset.id;
                const size = item.dataset.size;
                const url = `/cart/remove-product/${itemId}`;
                const data = {
                    'csrfmiddlewaretoken': csrfToken,
                    'size': size
                };

                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: new URLSearchParams(data).toString()
                })
                .then(response => {
                    if (response.ok) location.reload();
                    else throw new Error('Network response was not ok');
                })
                .catch(error => console.error('There has been a problem with your post request: ', error));
            });
        });
    </script>
{% endblock content %}
