{% extends "base.html" %}

{% load static %}

{% block content %}
    {% comment %} Hero Section {% endcomment %}
    <div class="relative">
        <img width="1440" height="750" class="object-cover w-full max-h-screen " src="{% static "images/homepage-hero-image.webp" %}" alt="White sneakers with title text and globe icon.">
        <div class="absolute left-0 right-0 flex justify-center h-40 bottom-10">
            <a href="#latest-products">
                <img width="80" height="80" class="hidden cursor-pointer w-14 animate-pulse xl:block" src="{% static "images/down-arrow-icon.svg" %}" alt="Arrow pointing down">
            </a>
        </div>
    </div>

    <main class="mt-8 space-y-20">
        {% comment %} Latest Products Section {% endcomment %}
        <section id="latest-products" class="space-y-20">
            <div class="py-2 text-3xl text-center bg-black">
                <h2 class="font-black text-white">Latest Comfortable Shoes</h2>
            </div>
            <div class="grid gap-y-6 gap-x-14 px-8 sm:px-16 md:px-20 sm:grid-cols-2 lg:grid-cols-4 max-w-[1400px] mx-auto">
                {% for product in latest_products %}
                    {% include "partials/product-card.html" with product=product %}
                {% endfor %}
            </div>
        </section>

        {% comment %} CTA Section {% endcomment %}
        <section class="md:flex">
            <img width="570" height="700" class="object-cover w-full h-64 md:h-auto md:w-1/3" src="{% static "images/login-image.webp" %}" alt="A sneaker floating in space">
            <div class="flex flex-col items-center justify-center w-full gap-6 py-20 bg-black" style="background-image: url('{% static "images/grid.svg" %}');
             background-position: center, center;
             background-size: cover, contain;">
                <h2 class="text-4xl font-black text-center text-white sm:text-6xl lg:text-7xl">
                    <span class="block text-white">For Prices Out</span>
                    <span class="block text-[38px] sm:text-[63px] lg:text-[76px] text-white">Of This World</span>
                </h2>
                {% comment %} Mailchimp Subscribe Form {% endcomment %}
                <div class="w-5/6 space-y-2 max-w-[380px] md:max-w-[480px]"  id="mc_embed_shell">
                    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
                    <div id="mc_embed_signup">
                        <form action="https://herokuapp.us22.list-manage.com/subscribe/post?u=568259d004d57529e02b1a07a&amp;id=83f505bb09&amp;f_id=007ccde1f0" method="POST" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                            <div id="mc_embed_signup_scroll">
                                <h3 class="mb-2 text-sm text-center text-white">Sign up for more exclusive deals on stylish shoe brands</h3>
                                <div class="flex w-full sm:w-2/3 mc-field-group">
                                    <input type="email" name="EMAIL" class="text-sm required email" id="mce-EMAIL" required="" value="" placeholder="name@email.com">
                                </div>
                                <div id="mce-responses" class="clear foot" style="padding: 0; margin: auto; transform: translateX(25%);">
                                    <div class="response" id="mce-error-response" style="display: none;"></div>
                                    <div class="text-sm text-center text-white response" id="mce-success-response" style="display: none; color: white; text-align: center;"></div>
                                </div>
                                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                    /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                                    <input type="text" name="b_568259d004d57529e02b1a07a_83f505bb09" tabindex="-1" value="">
                                </div>
                                <div class="w-full mx-auto sm:w-1/3 optionalParent">
                                    <div class="clear foot">
                                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="text-black bg-white hover:bg-gray-200 font-medium rounded-lg text-sm px-8 py-2.5 transition-colors text-center cursor-pointer" style="transform: translateX(-10%);" value="Subscribe">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        {% comment %} Product Sale Section {% endcomment %}
        <section class="space-y-20">
            <div class="py-2 text-3xl text-center bg-black">
                <h2 class="font-black text-white">Sneakers On Sale</h2>
            </div>
            <div class="grid gap-y-6 gap-x-14 px-8 sm:px-16 md:px-20 sm:grid-cols-2 lg:grid-cols-4 max-w-[1400px] mx-auto">
                {% for product in sale_products %}
                    {% include "partials/product-card.html" with product=product %}
                {% endfor %}
            </div>
        </section>

        {% comment %} Brand Section {% endcomment %}
        <section class="pb-20 space-y-20">
            <div class="py-2 text-3xl text-center bg-black">
                <h2 class="px-2 font-black text-white">Stylish Shoe Brands You Love</h2>
            </div>
            <div class="flex flex-wrap justify-center items-center gap-14 px-8 sm:px-16 md:px-20 max-w-[1400px] mx-auto">
                <img width="30" height="30" class="w-24" src="{% static "images/adidas-logo.svg" %}" alt="Adidas brand logo">
                <img width="30" height="30" class="w-24" src="{% static "images/nike-logo.svg" %}" alt="Nike brand logo">
                <img width="30" height="30" class="w-24" src="{% static "images/puma-logo.svg" %}" alt="Puma brand logo">
                <img width="30" height="30" class="w-24 h-16" src="{% static "images/on-logo.svg" %}" alt="On brand logo">
                <img width="30" height="30" class="w-24" src="{% static "images/converse-logo.svg" %}" alt="Converse brand logo">
                <img width="30" height="30" class="w-24" src="{% static "images/reebok-logo.svg" %}" alt="Converse brand logo">
            </div>
        </section>
    </main>
{% endblock content %}

{% block js_scripts %}
    {{ block.super }}
    {% comment %} Mailchimp Scripts {% endcomment %}
    <script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    <script>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
{% endblock js_scripts %}
