{% extends "base.html" %}

{% load static %}

{% block content %}
    {% comment %} Hero Section {% endcomment %}
    <section class="relative">
        <img class="object-cover w-full max-h-screen " src="{% static "images/homepage-hero-image.webp" %}" alt="White sneakers with title text and globe icon.">
        <div class="absolute left-0 right-0 flex justify-center h-40 bottom-10">
            <a href="#latest-products">
                <img class="hidden cursor-pointer w-14 animate-pulse xl:block" src="{% static "images/down-arrow-icon.svg" %}" alt="Arrow pointing down">
            </a>
        </div>
    </section>

    <main class="mt-8 space-y-20">
        {% comment %} Latest Products Section {% endcomment %}
        <section id="latest-products" class="space-y-20">
            <div class="py-2 text-3xl text-center bg-black">
                <h2 class="font-black text-white">Latest Comfortable Shoes</h2>
            </div>
            <div class="grid gap-y-6 gap-x-14 px-8 sm:px-16 md:px-20 sm:grid-cols-2 lg:grid-cols-4 max-w-[1400px] mx-auto">
                {% for product in latest_products %}
                    {% include "partials/product-card.html" with product=product %}
                {% endfor %}
            </div>
        </section>

        {% comment %} CTA Section {% endcomment %}
        <section class="md:flex">
            <img class="object-cover w-full h-64 md:h-auto md:w-1/3" src="{% static "images/login-image.webp" %}" alt="">
            <div class="flex flex-col items-center justify-center w-full gap-6 py-20 bg-black" style="background-image: url('{% static "images/grid.svg" %}');
             background-position: center, center;
             background-size: cover, contain;">
                <h2 class="text-6xl font-black text-white lg:text-7xl">
                    <span class="block text-white">For Prices Out</span>
                    <span class="block text-[63px] lg:text-[76px] text-white">Of This World</span>
                </h2>
                <form class="w-5/6 space-y-2 max-w-[380px] md:max-w-[480px]" method="post">
                    <label class="block text-sm font-medium text-center text-white" for="">Sign up for more exclusive deals on stylish shoe brands</label>
                    <div class="flex justify-between gap-4">
                        <input class="bg-gray-50 border w-2/3 border-gray-300 text-sm place rounded-lg block p-2.5" type="email" placeholder="name@email.com">
                         <button type="submit" class="w-1/3 text-black bg-white  focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center">Subscribe</button>
                    </div>
                </form>
            </div>
        </section>

        {% comment %} Product Sale Section {% endcomment %}
        <section class="space-y-20">
            <div class="py-2 text-3xl text-center bg-black">
                <h2 class="font-black text-white">Sneakers On Sale</h2>
            </div>
            <div class="grid gap-y-6 gap-x-14 px-8 sm:px-16 md:px-20 sm:grid-cols-2 lg:grid-cols-4 max-w-[1400px] mx-auto">
                {% for product in sale_products %}
                    {% include "partials/product-card.html" with product=product %}
                {% endfor %}
            </div>
        </section>

        {% comment %} Brand Section {% endcomment %}
        <section class="pb-20 space-y-20">
            <div class="py-2 text-3xl text-center bg-black">
                <h2 class="font-black text-white">Stylish Shoe Brands You Love</h2>
            </div>
            <div class="flex flex-wrap justify-center items-center gap-14 px-8 sm:px-16 md:px-20 max-w-[1400px] mx-auto">
                <img class="w-24" src="{% static "images/adidas-logo.svg" %}" alt="Adidas brand logo">
                <img class="w-24" src="{% static "images/nike-logo.svg" %}" alt="Nike brand logo">
                <img class="w-24" src="{% static "images/puma-logo.svg" %}" alt="Puma brand logo">
                <img class="w-24 h-16" src="{% static "images/on-logo.svg" %}" alt="On brand logo">
                <img class="w-24" src="{% static "images/converse-logo.svg" %}" alt="Converse brand logo">
                <img class="w-24" src="{% static "images/reebok-logo.svg" %}" alt="Converse brand logo">
            </div>
        </section>
    </main>
{% endblock content %}