asgiref==3.8.1
boto3==1.34.117
botocore==1.34.117
certifi==2024.6.2
charset-normalizer==3.3.2
Django==4.2.10
django-browser-reload==1.12.1
django-countries==7.6.1
django-storages==1.14.3
django-tailwind==3.8.0
django-widget-tweaks==1.5.0
gunicorn==22.0.0
idna==3.7
jmespath==1.0.1
packaging==24.0
pillow==10.3.0
psycopg2==2.9.9
python-dateutil==2.9.0.post0
python-decouple==3.8
requests==2.32.3
s3transfer==0.10.1
six==1.16.0
sqlparse==0.5.0
stripe==9.10.0
typing_extensions==4.12.2
urllib3==2.2.1
