{% load static %}
{% load widget_tweaks %}

<!-- Login Form -->
<div x-show="openLoginForm" x-cloak class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50 backdrop-blur-sm">
    <div class="flex flex-col w-3/4 overflow-hidden bg-white rounded-lg shadow md:max-w-xl sm:flex-row">
        <img class="object-cover object-center w-full h-40 sm:h-auto sm:w-1/3" src="{% static "images/login-image.webp" %}" alt="form image">
        <form method="POST" class="relative px-8 py-6 space-y-4 sm:w-2/3">
            {% csrf_token %}
            <h2 class="text-xl font-medium text-center">Login</h2>
            <img @click="openLoginForm = false"  class="absolute top-0 w-6 cursor-pointer right-4" src="{% static "images/close-icon.svg" %}" alt="Close icon">
            <input type="hidden" name="form_type" value="login_form">
            <!-- Username Input -->
            <div class="space-y-2">
                <div class="block text-sm font-medium">
                    {{ form.username.label_tag }}
                </div>
                {{form.username.errors}}
                {% render_field form.username class="bg-gray-50 border border-gray-300 text-sm place rounded-lg block w-full p-2.5" placeholder="Name" %}
            </div>
            <!-- Password Input -->
            <div class="space-y-2">
                <div class="block text-sm font-medium">
                    {{ form.password.label_tag }}
                </div>
                {{form.password.errors}}
                {% render_field form.password class="bg-gray-50 border border-gray-300 text-sm rounded-lg block w-full p-2.5" placeholder="●●●●●●●●" %}
            </div>
            <div class="pt-4 space-y-4">
                <!-- Remember Me Checkbox -->
                <div class="flex items-start">
                    <div class="flex items-start gap-2">
                        <div class="flex items-center h-5">
                            {% render_field form.remember_me class="w-4 h-4 text-white border border-gray-300 rounded cursor-pointer bg-gray-50 accent-black" %}
                        </div>
                        <span class="block text-sm font-medium">
                            {{ form.remember_me.label_tag }}
                         </span>
                    </div>
                    <a href="#" class="ml-auto text-sm underline">Lost Password?</a>
                </div>
                <!-- Submit Button -->
                <div class="pt-2 space-y-3 sm:space-y-3">
                    <button type="submit" class="w-full text-white bg-black  focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center">Login to your account</button>
                    <p class="text-sm text-center text-gray-500 uppercase">or continue with</p>
                    <button type="submit" class="w-full focus:outline-none  font-medium rounded-lg text-sm px-5 py-2.5 text-center border border-gray-300">Google</button>
                </div>
                <!-- Register Link -->
                <div class="text-sm font-medium text-center text-gray-500">
                    Not registered? <span @click="openLoginForm = false; openRegistrationForm = true" class="underline cursor-pointer text-bold">Create account</span>
                </div>
            </div>
        </form>
    </div>

</div>