{% load static %}

<div class="max-w-92 justify-self-center">
    <img src="{% static "images/shoe-placeholder.png" %}" alt="Shoe placeholder">
    <div class="flex items-center justify-between">
        <div>
            <h3 class="text-sm text-gray-500">Mens Trainers</h3>
            <h2 class="whitespace-nowrap">On Running Cloudmonster</h2>
            <div class="flex items-center gap-2">
                <img class="w-5" src="{% static "images/price-tag-icon.svg" %}" alt="Icon of a price tag">
                <span>€180.00</span>
            </div>
        </div>
        <img class="w-6 cursor-pointer" src="{% static "images/heart-outline-icon.svg" %}" alt="Heart icon for product wishlist">
    </div>
</div>