{% load static %}

    <div class="self-end">
        <a href="{% url "product-detail" product.id %}">
            <img width="300" height="135" class="object-contain w-full mb-2 h-18" src="{{ product.get_image_url }}" alt="{{ product.name }}">
        </a>

        <div class="flex items-center justify-between">
            <div>
                <header>
                    <h3 class="text-sm text-gray-500">{{ product.department.name }} {{ product.shoe_type.name }}</h3>
                    <h2 class="whitespace-nowrap">{{ product.name }}</h2>
                </header>
                <div class="flex items-center gap-2">
                    <img width="30" height="30" class="object-cover w-5" src="{% static "images/price-tag-icon.svg" %}" alt="Price tag icon">
                    {% if product.on_sale %}
                        <div class="flex flex-col items-center justify-center px-2 text-sm text-white bg-black">
                            -{{ product.sale_percentage|floatformat:"0" }}%
                        </div>
                        <span class="line-through">
                            €{{ product.list_price|floatformat:2  }}
                        </span>
                        <span>
                            €{{ product.current_price|floatformat:2  }}
                        </span>
                    {% else %}
                        <span>
                            €{{ product.list_price|floatformat:2  }}
                        </span>
                    {% endif %}
                </div>
            </div>
            {% if request.user.is_superuser %}
                <div class="flex gap-2">
                    <a href="{% url "product-update" product.id %}" aria-label="Edit product">
                        <img class="w-6 cursor-pointer" src="{% static "images/pencil-icon.svg" %}" alt="Edit product">
                    </a>
                    <button class="show-delete-confirmation" aria-label="Delete product confirmation">
                        <img width="50" height="50" class="w-6 cursor-pointer" src="{% static "images/close-icon.svg" %}" alt="Delete product">
                    </button>
                </div>
            {% else %}
                {% if user.is_authenticated %}
                    <button id="wishlist-toggle" data-product-id="{{ product.id }}" aria-label="Toggle Wishlist">
                        {% if product.id in wishlist_product_ids %}
                            <img width="30" height="30" src="{% static 'images/wishlist-icon.svg' %}" alt="Product in Wishlist" class="w-6"
                                data-wishlist-icon-url="{% static 'images/wishlist-icon.svg' %}"
                                data-heart-outline-icon-url="{% static 'images/heart-outline-icon.svg' %}">
                        {% else %}
                            <img width="30" height="30" src="{% static 'images/heart-outline-icon.svg' %}" alt="Add to Wishlist" class="w-6"
                                data-wishlist-icon-url="{% static 'images/wishlist-icon.svg' %}"
                                data-heart-outline-icon-url="{% static 'images/heart-outline-icon.svg' %}">
                        {% endif %}
                    </button>
                {% endif %}
            {% endif %}
        </div>

        <!-- Product Delete Popup Confirmation -->
        <div class="fixed inset-0 z-20 items-center justify-center hidden bg-opacity-50 delete-confirmation-modal backdrop-blur-sm">
            <div class="flex flex-col items-center w-3/4 max-w-[400px] gap-4 py-8 px-8 bg-white rounded-lg shadow md:max-w-xl">
                <p class="font-bold text-center">Are you sure you want to delete this product?</p>
                <div class="flex flex-col w-full gap-4 sm:flex-row">
                    <button class="w-full hide-delete-confirmation text-black border bg-white focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center hover:bg-gray-100 transition-colors" aria-label="Cancel product deletion">
                        Back
                    </button>
                    <a class="w-full text-white bg-black focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center hover:bg-gray-900 transition-colors" href="{% url "product-delete" product.id %}" aria-label="Confirm product deletion">
                        Delete
                    </a>
                </div>
            </div>
        </div>
    </div>