{% load static %}
{% load widget_tweaks %}

<!-- Login Form -->
<div x-show="openRegistrationForm" x-cloak class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50 backdrop-blur-sm">
    <div class="flex flex-col w-3/4 overflow-hidden bg-white rounded-lg shadow md:max-w-xl sm:flex-row">
        <img class="object-cover object-center w-full h-40 sm:h-auto sm:w-1/3" src="{% static "images/login-image.webp" %}" alt="form image">
        <form method="POST" class="relative px-8 py-6 space-y-4 sm:w-2/3" action="#">
            {% csrf_token %}
            <h5 class="text-xl font-medium text-center">Registration</h5>
            <img @click="openRegistrationForm = false"  class="absolute top-0 w-6 cursor-pointer right-4" src="{% static "images/close-icon.svg" %}" alt="Close icon">
            <input type="hidden" name="form_type" value="registration_form">
            <!-- Username Input -->
            <div class="space-y-2">
                <div class="block text-sm font-medium">
                    {{ form.username.label_tag }}
                </div>
                {{form.username.errors}}
                {% render_field form.username class="bg-gray-50 border border-gray-300 text-sm place rounded-lg block w-full p-2.5" placeholder="Name" %}
            </div>
            <!-- Password Input -->
            <div class="space-y-2">
                <div class="block text-sm font-medium">
                    {{ form.password1.label_tag }}
                </div>
                {{form.password1.errors}}
                {% render_field form.password1 class="bg-gray-50 border border-gray-300 text-sm rounded-lg block w-full p-2.5" placeholder="●●●●●●●●" %}
            </div>
            <!-- Repeat Password Input -->
            <div class="space-y-2">
                <div class="block text-sm font-medium">
                    {{ form.password2.label_tag }}
                </div>
                {{form.password2.errors}}
                {% render_field form.password2 class="bg-gray-50 border border-gray-300 text-sm rounded-lg block w-full p-2.5" placeholder="●●●●●●●●" %}
            </div>
            <!-- Submit Button -->
            <div class="py-5">
                <button type="submit" class="w-full text-white bg-black  focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center">Register</button>
            </div>
            <!-- Register Link -->
            <div class="text-sm font-medium text-center text-gray-500">
                Already registered? <span @click="openLoginForm = true; openRegistrationForm = false" class="underline cursor-pointer text-bold">Login</span>
            </div>
        </form>
    </div>
</div>