{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block content %}
  <!-- Homepage Navbar -->
    <div x-data="{ openMobileNav: false, openLoginForm: false, openRegistrationForm: false}">
        <div class="absolute inset-x-0 top-0 z-40 flex-col items-center justify-between gap-4 px-12 py-5 md:py-4 lg:py-6 md:flex lg:flex-row lg:px-20">
            <nav aria-label="Department navigation">
                <div @click="openMobileNav = true" class="flex items-center justify-center w-12 h-12 mx-auto bg-white rounded-full cursor-pointer md:hidden">
                    <img class="w-6" src="{% static "images/hamburger-icon.svg" %}" alt="Hamburger menu icon">
                </div>
                <ul class="items-center hidden h-12 gap-2 px-4 py-2 bg-white rounded-full shadow-lg md:flex">
                    <li>
                        <a href="{% url "home" %}">
                            <img class="w-8" src="{% static "images/logo-icon.svg" %}" alt="Fleetfoot company logo">
                        </a>
                    </li>
                    <li class="flex items-center gap-2">
                        <a href="{% url 'products-list' 'mens' %}"class="text-sm font-base">Men</a>
                        <img class="h-6" src="{% static "images/menu-seperator.svg" %}" alt="Menu seperator">
                    </li>
                    <li class="flex items-center gap-2">
                        <a href="{% url 'products-list' 'womens' %}" class="text-sm font-base">Women</a>
                        <img class="h-6" src="{% static "images/menu-seperator.svg" %}" alt="Menu seperator">
                    </li>
                    <li class="pr-3">
                        <a href="{% url 'products-list' 'kids' %}" class="text-sm font-base">Kids</a>
                    </li>
                </ul>
            </nav>

            <nav aria-label="Site navigation">
                <ul class="items-center hidden h-12 gap-8 px-6 py-4 bg-white rounded-full shadow-lg md:flex">
                    {% if not user.is_authenticated %}
                        <li class="flex items-center gap-2">
                            <img class="h-6" src="{% static "images/register-icon.svg" %}" alt="Register icon for registration">
                            <span @click="openRegistrationForm = true" class="text-sm cursor-pointer font-base">Register</span>
                        </li>
                        <li @click="openLoginForm = true" class="flex items-center gap-2">
                            <img class="h-5" src="{% static "images/auth-icon.svg" %}" alt="Lock menu icon for the signin form">
                            <span class="text-sm cursor-pointer font-base">Sign In</span>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="flex items-center gap-2">
                            <img class="h-5 cursor-pointer" src="{% static "images/auth-icon.svg" %}" alt="Lock menu icon for logging out the user">
                            <a href="{% url "logout" %}" class="text-sm font-base">Sign Out</a>
                        </li>
                        <li class="flex items-center gap-2">
                            <img class="h-5 cursor-pointer" src="{% static "images/profile-icon.svg" %}" alt="Profile menu icon for the profile section">
                            <a href="{% url "profile" %}" class="text-sm font-base">Profile</a>
                        </li>
                        <li class="flex items-center gap-2">
                            <img class="h-5 cursor-pointer" src="{% static "images/wishlist-icon.svg" %}" alt="Heart menu icon for the wishlist section">
                            <a href="#" class="text-sm font-base">Wishlist</a>
                        </li>
                        {% if user.is_superuser %}
                            <li class="flex items-center gap-2">
                                <img class="h-5" src="{% static "images/admin-icon.svg" %}" alt="Cog menu icon for the admin section">
                                <a href="#" class="text-sm font-base">Admin</a>
                            </li>
                        {% endif %}
                    {% endif %}
                    <li class="flex items-center gap-2">
                        <img class="h-5" src="{% static "images/cart-icon.svg" %}" alt="">
                        <a href="{% url "view-cart" %}">
                            {% if grand_total %}
                                €{{ grand_total|floatformat:2 }}
                            {% else %}
                                €0.00
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- Mobile Menu -->
        <div x-show="openMobileNav" x-cloak class="fixed inset-x-0 top-0 z-50 flex flex-col items-center justify-center w-full h-full gap-6 py-20 text-black bg-white shadow md:hidden">
            <img @click="openMobileNav = false"  class="absolute w-6 cursor-pointer right-6 top-6" src="{% static "images/close-icon.svg" %}" alt="Close icon">
            <h2 class="text-6xl uppercase cursor-pointer text-bold"><a href="{% url "home" %}">Fleetfoot</a></h2>

            <nav aria-label="Department navigation">
                <ul class="flex gap-2">
                    <li class="flex items-center gap-2">
                        <a href="{% url 'products-list' 'mens' %}" class="text-2xl font-light">Men</a>
                        <img class="h-6" src="{% static "images/menu-seperator.svg" %}" alt="Menu seperator">
                    </li>
                    <li class="flex items-center gap-2">
                        <a href="{% url 'products-list' 'womens' %}" class="text-2xl font-light">Women</a>
                        <img class="h-6" src="{% static "images/menu-seperator.svg" %}" alt="Menu seperator">
                    </li>
                    <li class="pr-3">
                        <a href="{% url 'products-list' 'kids' %}" class="text-2xl font-light">Kids</a>
                    </li>
                </ul>
            </nav>

            <img class="w-1/3" src="{% static "images/horizontal-seperator.png" %}" alt="Line for horizontal seperation of menu elements">

            <nav class="mb-12" aria-label="Site navigation">
                <ul class="flex items-center justify-center gap-4">
                    {% if not user.is_authenticated %}
                        <li class="flex items-center gap-2">
                            <span @click="openRegistrationForm = true" class="text-lg font-light cursor-pointer">Register</span>
                            <img class="h-6" src="{% static "images/menu-seperator.svg" %}" alt="Menu seperator">
                        </li>
                        <li class="flex items-center gap-2">
                            <span @click="openLoginForm = true"  class="text-lg font-light cursor-pointer">Sign In</span>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="flex items-center gap-2">
                            <a href="{% url "logout" %}" class="text-lg font-light">Sign Out</a>
                        </li>
                    {% endif %}
                </ul>

                <ul class="flex items-center justify-center gap-4 mt-2">
                    {% if user.is_authenticated %}
                        <li class="flex items-center gap-2">
                            <a href="{% url "profile" %}" class="text-lg font-light">Profile</a>
                            <img class="h-6" src="{% static "images/menu-seperator.svg" %}" alt="Menu seperator">
                        </li>
                        <li class="flex items-center gap-2">
                            <a href="#" class="text-lg font-light">Wishlist</a>
                            <img class="h-6" src="{% static "images/menu-seperator.svg" %}" alt="Menu seperator">
                        </li>
                        {% if user.is_superuser %}
                            <li class="flex items-center">
                                <a href="#" class="text-lg font-light">Admin</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </nav>
            <img class="absolute bottom-0 w-2/3" src="{% static "images/footer-image.webp" %}" alt="">
        </div>

        <!-- Login Form -->
        {% include "partials/login.html" with form=login_form %}
        <!-- Registration Form -->
        {% include "partials/registration.html" with form=registration_form %}
    </div>

    <!-- Hero Section -->
    <section class="relative">
        <img class="object-cover w-full max-h-screen" src="{% static "images/products-hero-image.webp" %}" alt="White sneakers with title text and globe icon.">
    </section>

    <!-- Shopping Cart Banner -->
    <div class="py-2 text-3xl text-center bg-black">
        <h2 class="font-black text-white">My Profile</h2>
    </div>

    <section class="flex flex-col items-center justify-between md:gap-20 lg:gap-32 gap-24 px-12 py-20 md:items-start md:flex-row md:max-w-[1300px] mx-auto">
        <!-- Delivery Information -->
        <form id="profile-form" method="POST" action="{% url "profile" %}" class="w-full sm:w-5/6 md:w-1/2 max-w-[500px] space-y-4">
            <h2 class="text-2xl font-bold text-center md:text-left">Delivery Information</h2>
            {% csrf_token %}
            <input type="hidden" name="form_type" value="profile_form">
            <!-- Full Name Input -->
            <div class="space-y-2">
                {{ profile_form.default_fullname.errors }}
                {% render_field profile_form.default_fullname class="bg-gray-50 border border-gray-300 text-sm place rounded-lg block w-full p-2.5" placeholder="Full Name" %}
            </div>

            <!-- Email Input -->
            <div class="space-y-2">
                {{ profile_form.default_email.errors }}
                {% render_field profile_form.default_email class="bg-gray-50 border border-gray-300 text-sm place rounded-lg block w-full p-2.5" placeholder="Email" %}
            </div>

            <!-- Phone Number Input -->
            <div class="space-y-2">
                {{ profile_form.default_phone_number.errors }}
                {% render_field profile_form.default_phone_number class="bg-gray-50 border border-gray-300 text-sm place rounded-lg block w-full p-2.5" placeholder="Phone Number" %}
            </div>

            <!-- Street Address 1 Input -->
            <div class="space-y-2">
                {{ profile_form.default_street_address1.errors }}
                {% render_field profile_form.default_street_address1 class="bg-gray-50 border border-gray-300 text-sm place rounded-lg block w-full p-2.5" placeholder="Street Address 1" %}
            </div>
            <!-- Street Address 2 Input -->
            <div class="space-y-2">
                {{ profile_form.default_street_address2.errors }}
                {% render_field profile_form.default_street_address2 class="bg-gray-50 border border-gray-300 text-sm place rounded-lg block w-full p-2.5" placeholder="Street Address 2" %}
            </div>
            <!-- Town or City Input -->
            <div class="space-y-2">
                {{ profile_form.default_town_or_city.errors }}
                {% render_field profile_form.default_town_or_city class="bg-gray-50 border border-gray-300 text-sm place rounded-lg block w-full p-2.5" placeholder="Town or City" %}
            </div>
            <!-- County Input -->
            <div class="space-y-2">
                {{ profile_form.default_county.errors }}
                {% render_field profile_form.default_county class="bg-gray-50 border border-gray-300 text-sm place rounded-lg block w-full p-2.5" placeholder="County" %}
            </div>
            <!-- Postcode Input -->
            <div class="space-y-2">
                {{ profile_form.default_postcode.errors }}
                {% render_field profile_form.default_postcode class="bg-gray-50 border border-gray-300 text-sm place rounded-lg block w-full p-2.5" placeholder="Postcode" %}
            </div>
            <!-- Country Input -->
            <div class="space-y-2">
                {{ profile_form.default_country.errors }}
                {% render_field profile_form.default_country class="bg-gray-50 border border-gray-300 text-sm place text-gray-400 rounded-lg block w-full p-2.5 mb-6" placeholder="Country" %}
            </div>
            <button id="submit-button" type="submit" class="w-full text-white bg-black rounded-lg text-sm px-5 py-2.5 text-center">Update Information</button>
        </form>

        <!-- Order History -->
        <div class="relative w-full space-y-10 sm:w-5/6 md:space-y-4 md:w-1/2">
            <h3 class="text-2xl font-bold text-center lg:text-left">Order History</h3>
            <div class="max-h-[600px] overflow-y-auto">
                {% if orders %}
                    <div class="relative grid grid-cols-2 gap-2 md:gap-4 lg:grid-cols-4">
                        {% for order in orders %}
                            <div>
                                <h3 class="mb-2 font-bold">Order Number</h3>
                                <a href="{% url "order-history" order.order_number %}" class="underline">
                                    <strong class="text-sm">{{ order.order_number|truncatechars:8 }}</strong>
                                </a>
                            </div>
                            <div>
                                <h3 class="mb-2 font-bold">Date</h3>
                                <span class="text-sm">{{ order.date }}</span>
                            </div>
                            <div class="relative">
                                <h3 class="mb-2 font-bold">Items</h3>
                                <ul class="overflow-x-auto max-h-[100px] mb-2">
                                    {% for item in order.lineitems.all %}
                                        <li class="text-sm"><strong>{{ item.quantity }}</strong> x {{ item.product.name }} </li>
                                    {% endfor %}
                                </ul>
                                {% if order.lineitems.all|length > 1 %}
                                    <div class="absolute bottom-0 left-0 right-0 h-12 bg-gradient-to-t from-white"></div>
                                {% endif %}
                            </div>
                            <div>
                                <h3 class="mb-2 font-bold">Order total</h3>
                                <strong class="text-sm">€{{ order.grand_total }}</strong>
                            </div>
                            <img class="w-5/6 mx-auto my-6 md:my-2 lg:my-0 col-span-full" src="{% static "images/horizontal-seperator.png" %}" alt="Horizontal separator" />
                        {% endfor %}
                    </div>
                {% else %}
                    <!-- Empty Orders Message -->
                    <div class="space-y-8 text-lg text-center">
                        <p class="text-center text-gray-400">You currently have no orders.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock content %}

{% block js_scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/countryField.js" %}"></script>
{% endblock js_scripts %}