{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block content %}
    <!-- Hero Section -->
    <section class="relative">
        <img class="object-cover w-full max-h-screen" src="{% static "images/products-hero-image.webp" %}" alt="White sneakers with title text and globe icon.">
    </section>

    <!-- Shopping Cart Banner -->
    <div class="py-2 text-3xl text-center bg-black">
        <h2 class="font-black text-white">My Profile</h2>
    </div>

    <section class="flex flex-col items-center justify-between md:gap-20 lg:gap-32 gap-24 px-12 py-20 md:items-start md:flex-row md:max-w-[1300px] mx-auto">
        <!-- Delivery Information -->
        <form id="profile-form" method="POST" action="{% url "profile" %}" class="w-full sm:w-5/6 md:w-1/2 max-w-[500px] space-y-4">
            <h2 class="text-2xl font-bold text-center md:text-left">Delivery Information</h2>
            {% csrf_token %}
            <input type="hidden" name="form_type" value="profile_form">
            <!-- Full Name Input -->
            <div class="space-y-2">
                {{ profile_form.default_fullname.errors }}
                {% render_field profile_form.default_fullname class="bg-gray-50 border border-gray-300 text-sm place rounded-lg block w-full p-2.5" placeholder="Full Name" %}
            </div>

            <!-- Email Input -->
            <div class="space-y-2">
                {{ profile_form.default_email.errors }}
                {% render_field profile_form.default_email class="bg-gray-50 border border-gray-300 text-sm place rounded-lg block w-full p-2.5" placeholder="Email" %}
            </div>

            <!-- Phone Number Input -->
            <div class="space-y-2">
                {{ profile_form.default_phone_number.errors }}
                {% render_field profile_form.default_phone_number class="bg-gray-50 border border-gray-300 text-sm place rounded-lg block w-full p-2.5" placeholder="Phone Number" %}
            </div>

            <!-- Street Address 1 Input -->
            <div class="space-y-2">
                {{ profile_form.default_street_address1.errors }}
                {% render_field profile_form.default_street_address1 class="bg-gray-50 border border-gray-300 text-sm place rounded-lg block w-full p-2.5" placeholder="Street Address 1" %}
            </div>
            <!-- Street Address 2 Input -->
            <div class="space-y-2">
                {{ profile_form.default_street_address2.errors }}
                {% render_field profile_form.default_street_address2 class="bg-gray-50 border border-gray-300 text-sm place rounded-lg block w-full p-2.5" placeholder="Street Address 2" %}
            </div>
            <!-- Town or City Input -->
            <div class="space-y-2">
                {{ profile_form.default_town_or_city.errors }}
                {% render_field profile_form.default_town_or_city class="bg-gray-50 border border-gray-300 text-sm place rounded-lg block w-full p-2.5" placeholder="Town or City" %}
            </div>
            <!-- County Input -->
            <div class="space-y-2">
                {{ profile_form.default_county.errors }}
                {% render_field profile_form.default_county class="bg-gray-50 border border-gray-300 text-sm place rounded-lg block w-full p-2.5" placeholder="County" %}
            </div>
            <!-- Postcode Input -->
            <div class="space-y-2">
                {{ profile_form.default_postcode.errors }}
                {% render_field profile_form.default_postcode class="bg-gray-50 border border-gray-300 text-sm place rounded-lg block w-full p-2.5" placeholder="Postcode" %}
            </div>
            <!-- Country Input -->
            <div class="space-y-2">
                {{ profile_form.default_country.errors }}
                {% render_field profile_form.default_country class="bg-gray-50 border border-gray-300 text-sm place text-gray-400 rounded-lg block w-full p-2.5 mb-6 cursor-pointer" placeholder="Country" %}
            </div>
            <button id="submit-button" type="submit" class="w-full text-white bg-black rounded-lg text-sm px-5 py-2.5 text-center">Update Information</button>
        </form>

        <!-- Order History -->
        <div class="relative w-full space-y-10 sm:w-5/6 md:space-y-4 md:w-1/2">
            <h3 class="text-2xl font-bold text-center lg:text-left">Order History</h3>
            <div class="max-h-[600px] overflow-y-auto">
                {% if orders %}
                    <div class="relative grid grid-cols-2 gap-2 md:gap-4 lg:grid-cols-4">
                        {% for order in orders %}
                            <div>
                                <h3 class="mb-2 font-bold">Order Number</h3>
                                <a href="{% url "order-history" order.order_number %}" class="underline">
                                    <strong class="text-sm">{{ order.order_number|truncatechars:8 }}</strong>
                                </a>
                            </div>
                            <div>
                                <h3 class="mb-2 font-bold">Date</h3>
                                <span class="text-sm">{{ order.date }}</span>
                            </div>
                            <div class="relative">
                                <h3 class="mb-2 font-bold">Items</h3>
                                <ul class="overflow-x-auto max-h-[100px] mb-2">
                                    {% for item in order.lineitems.all %}
                                        <li class="text-sm"><strong>{{ item.quantity }}</strong> x {{ item.product.name }} </li>
                                    {% endfor %}
                                </ul>
                                {% if order.lineitems.all|length > 1 %}
                                    <div class="absolute bottom-0 left-0 right-0 h-12 bg-gradient-to-t from-white"></div>
                                {% endif %}
                            </div>
                            <div>
                                <h3 class="mb-2 font-bold">Order total</h3>
                                <strong class="text-sm">€{{ order.grand_total }}</strong>
                            </div>
                            <img class="w-5/6 mx-auto my-6 md:my-2 lg:my-0 col-span-full" src="{% static "images/horizontal-seperator.png" %}" alt="Horizontal separator" />
                        {% endfor %}
                    </div>
                {% else %}
                    <!-- Empty Orders Message -->
                    <div class="space-y-8 text-lg text-center">
                        <p class="text-center text-gray-400">You currently have no orders.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock content %}

{% block js_scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/countryField.js" %}"></script>
{% endblock js_scripts %}