{% extends "base.html" %}

{% load static %}

{% block content %}
    {% comment %} Hero Section {% endcomment %}
    <section class="relative">
        <img class="object-cover w-full max-h-screen" src="{% static "images/products-hero-image.webp" %}" alt="White sneakers with title text and globe icon.">
    </section>

    {% comment %} Shipping Discount Banner {% endcomment %}
    <div class="py-2 text-3xl text-center bg-black">
        <h2 class="font-black text-white">Wishlist</h2>
    </div>

    <main class="py-20 space-y-8">
        {% comment %} Wishlist Items Grid {% endcomment %}
        <section >
            {% if wishlist_items %}
            <div class="grid gap-y-6 gap-24 lg:gap-x-28 px-8 sm:px-16 md:px-20 sm:grid-cols-2 lg:grid-cols-3 max-w-[1400px] mx-auto">
                {% for item in wishlist_items %}
                    {% include "partials/product-card.html" with product=item.product %}
                {% endfor %}
            </div>
            {% else %}
                <p class="py-16 text-lg text-center text-gray-400">No items in wishlist</p>
                <a href="{% url "home" %}" class="block w-full text-center mx-auto max-w-[300px] px-8 py-3 border rounded cursor-pointer">Return to home</a>
            {% endif %}
        </section>
    </main>
{% endblock content %}