{% extends "base.html" %}

{% load static %}
{% load cart_tools %}

{% block content %}
    {% comment %} Order Confirmation Details {% endcomment %}
    <div class="flex items-center justify-center min-h-screen my-32">
        <div class="p-4 sm:p-8 space-y-8 shadow-lg w-5/6 max-w-[650px] mx-auto rounded-lg">
            <div class="space-y-2 text-center">
                {% if from_profile %}
                    <h1 class="text-4xl font-bold">Your Order</h1>
                {% else %}
                    <h1 class="text-4xl font-bold">Thank You!</h1>
                    <p class="text-sm">Your order confirmation is below. A confirmation will
                    be sent to <span class="text-gray-500">test@email.com</span>.</p>
                {% endif %}
            </div>

            <img src="{% static "images/horizontal-seperator.png" %}" alt="">

            {% comment %} Order Details {% endcomment %}
            <div class="space-y-1">
                <h2 class="mb-2 font-bold text-center sm:text-left">Order Details</h2>
                <div class="flex flex-col flex-wrap items-center justify-between gap-2 pb-4 text-sm sm:pb-0 sm:flex-row">
                    <span>Order Number:</span>
                    <span class="text-[11px] sm:text-sm font-bold break-before-page">{{order.order_number}}</span>
                </div>
                <div class="flex flex-col flex-wrap items-center justify-between gap-2 pb-4 text-sm sm:pb-0 sm:flex-row">
                    <span class="flex flex-wrap justify-between gap-2 text-sm">Order Date:</span>
                    <span class="font-bold">{{order.date}}</span>
                </div>
            </div>

            {% comment %} Ordered Products {% endcomment %}
            <div class="space-y-1">
                <h2 class="mb-2 font-bold">Ordered Products</h2>
                {% for item in order.lineitems.all %}
                    <div class="flex flex-wrap justify-between gap-2 text-sm">
                        <span>{{ item.product.name }} x <strong>{{item.quantity}}</strong></span>
                        {% if item.product.on_sale %}
                            <div class="flex gap-2">
                                <span class="px-1 text-white bg-black"> -{{item.product.sale_percentage}}%</span> <span class="line-through">€{{ item.product.list_price }}</span> €{{ item.product.current_price }}
                            </div>
                        {% else %}
                        <span class="font-bold">€{{ item.product.current_price }}</span>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            {% comment %} Delivery Address {% endcomment %}
            <div class="space-y-1">
                <h2 class="mb-2 font-bold">Delivery Address</h2>
                <div class="flex flex-wrap justify-between gap-2 text-sm">
                    <span>Name:</span>
                    <span class="font-bold">Placeholder Name</span>
                </div>
                <div class="flex flex-wrap justify-between gap-2 text-sm">
                    <span>Address 1:</span>
                    <span class="font-bold">{{ order.street_address1 }}</span>
                </div>
                {% if order.street_address2 %}
                    <div class="flex flex-wrap justify-between gap-2 text-sm">
                        <span>Address 2:</span>
                        <span class="font-bold">{{ order.street_address2 }}</span>
                    </div>
                {% endif %}
                {% if order.county  %}
                    <div class="flex flex-wrap justify-between gap-2 text-sm">
                        <span>County:</span>
                        <span class="font-bold">{{ order.county }}</span>
                    </div>
                {% endif %}
                <div class="flex flex-wrap justify-between gap-2 text-sm">
                    <span>Town or City:</span>
                    <span class="font-bold">{{ order.town_or_city }}</span>
                </div>
                {% if order.postcode %}
                    <div class="flex flex-wrap justify-between gap-2 text-sm">
                        <span>Postal Code:</span>
                        <span class="font-bold">{{ order.postcode }}</span>
                    </div>
                {% endif %}
                <div class="flex flex-wrap justify-between gap-2 text-sm">
                    <span>Country:</span>
                    <span class="font-bold">{{ order.country }}</span>
                </div>
                {% if order.phone_number %}
                    <div class="flex flex-wrap justify-between gap-2 text-sm">
                        <span>Phone Number:</span>
                        <span class="font-bold">{{ order.phone_number }}</span>
                    </div>
                {% endif %}
            </div>

            {% comment %} Billing Info {% endcomment %}
            <div class="space-y-1">
                <h2 class="mb-2 font-bold">Billing Info</h2>
                <div class="flex flex-wrap justify-between gap-2 text-sm">
                    <span>Subtotal:</span>
                    <span class="font-bold">€{{ order.order_total }}</span>
                </div>
                <div class="flex flex-wrap justify-between gap-2 text-sm">
                    <span>Delivery:</span>
                    <span class="font-bold">€{{ order.delivery_cost }}</span>
                </div>
                <div class="flex flex-wrap justify-between gap-2 text-sm">
                    <span>Total:</span>
                    <span class="font-bold">€{{ order.grand_total }}</span>
                </div>
            </div>

            {% if from_profile %}
                <a href="{% url "profile" %}" class="block w-full py-3 text-center text-white bg-black rounded cursor-pointer">Back to Profile</a>
            {% else %}
                <a href="{% url "home" %}" class="block w-full py-3 text-center text-white bg-black rounded cursor-pointer">Return to home</a>
            {% endif %}
        </div>
    </div>
{% endblock %}