{% extends "base.html" %}

{% load static %}
{% load cart_tools %}
{% load widget_tweaks %}

{% block content %}
    <!-- Hero Section -->
    <div class="relative">
        <img class="object-cover w-full max-h-screen" src="{% static "images/products-hero-image.webp" %}" alt="White sneakers with title text and globe icon.">
    </div>

    <!-- Shopping Cart Banner -->
    <div class="py-2 text-3xl text-center bg-black">
        <h2 class="font-black text-white">Checkout</h2>
    </div>

    <div class="flex flex-col items-center justify-between gap-32 sm:gap-20 px-5 py-20 md:items-start md:flex-row md:max-w-[1200px] mx-auto">
        {% if cart_items %}
            <!-- Checkout Form -->
            <form id="payment-form" method="POST" action="{% url "checkout" %}" class="flex flex-col w-full sm:w-2/3 md:w-1/2 gap-10 md:2/3 max-w-[550px]">
                <h2 class="text-2xl font-bold text-center md:text-left ">Complete Your Order</h2>
                {% csrf_token %}
                <input type="hidden" name="form_type" value="checkout_form">
                <fieldset class="space-y-4">
                    <legend>Details</legend>
                    <!-- Name Input -->
                    <div class="space-y-2">
                        {{order_form.full_name.errors}}
                        {% render_field order_form.full_name class="bg-gray-50 border border-gray-300 text-sm place rounded-lg block w-full p-2.5" placeholder="Full Name*" %}
                    </div>
                    <!-- Email Input -->
                    <div class="space-y-2">
                        {{order_form.full_name.errors}}
                        {% render_field order_form.email class="bg-gray-50 border border-gray-300 text-sm place rounded-lg block w-full p-2.5" placeholder="Email Address *" %}
                    </div>
                </fieldset>

                <fieldset class="space-y-4">
                    <legend>Delivery</legend>
                    <!-- Phone Number Input -->
                    <div class="space-y-2">
                        {{order_form.phone_number.errors}}
                        {% render_field order_form.phone_number class="bg-gray-50 border border-gray-300 text-sm place rounded-lg block w-full p-2.5" placeholder="Phone Number *" %}
                    </div>
                    <!-- Street Address 1 Input -->
                    <div class="space-y-2">
                        {{order_form.street_address.errors}}
                        {% render_field order_form.street_address1 class="bg-gray-50 border border-gray-300 text-sm place rounded-lg block w-full p-2.5" placeholder="Street Address 1 *" %}
                    </div>
                    <!-- Street Address 2 Input -->
                    <div class="space-y-2">
                        {{order_form.street_address.errors}}
                        {% render_field order_form.street_address2 class="bg-gray-50 border border-gray-300 text-sm place rounded-lg block w-full p-2.5" placeholder="Street Address 2" %}
                    </div>
                    <!-- Town or City Input -->
                    <div class="space-y-2">
                        {{order_form.town_or_city.errors}}
                        {% render_field order_form.town_or_city class="bg-gray-50 border border-gray-300 text-sm place rounded-lg block w-full p-2.5" placeholder="Town or City *" %}
                    </div>
                    <!-- County Input -->
                    <div class="space-y-2">
                        {{order_form.county.errors}}
                        {% render_field order_form.county class="bg-gray-50 border border-gray-300 text-sm place rounded-lg block w-full p-2.5" placeholder="County, State or Locality" %}
                    </div>
                    <!-- Postcode Input -->
                    <div class="space-y-2">
                        {{order_form.postcode.errors}}
                        {% render_field order_form.postcode class="bg-gray-50 border border-gray-300 text-sm place rounded-lg block w-full p-2.5" placeholder="Postal Code" %}
                    </div>
                    <!-- Country Input -->
                    <div class="space-y-2">
                        {{order_form.country.errors}}
                        {% render_field order_form.country class="bg-gray-50 border border-gray-300 placeholder-bg-orange-200 text-sm place rounded-lg text-gray-400 block w-full p-2.5 cursor-pointer" placeholder="Country *" %}
                    </div>
                </fieldset>

                <!-- Stripe Card Payment -->
                <fieldset class="space-y-4">
                    <legend>Card Payment</legend>
                    <!-- Card Payment -->
                    <div id="card-element"></div>
                    <!-- Card Payment Errors -->
                    <div id="card-errors" role="alert"></div>
                </fieldset>

                <input type="hidden" name="payment_intent_client_secret" value="{{ payment_intent_client_secret }}">

                <!-- Form Buttons -->
                <button id="submit-button" type="submit" class="text-white bg-black rounded-lg text-sm px-5 py-2.5 text-center hover:bg-gray-900 transition-colors ">Complete Order</button>
            </form>

            <!-- Cart Summary -->
            <div class="space-y-14 md:max-w-[400px] md:w-1/2 flex flex-col items-center">
                <div class="space-y-12 sm:w-2/3 md:w-full">
                    <div class="space-y-2">
                        <h3 class="text-2xl font-bold text-center md:text-left">In Your Cart</h3>
                        <div class="flex justify-between">
                            <span>Subtotal</span>
                            <span>€{{ total }}</span>
                        </div>
                        {% if delivery > 0 %}
                            <div class="w-full py-1 text-center text-white bg-black">You only need to spend <strong>€{{free_delivery_delta}}</strong> more for <strong>free delivery!</strong></div>
                        {% endif %}
                        <div class="flex justify-between">
                            <span>Delivery</span>
                            <span>€{{ delivery|floatformat:2  }}</span>
                        </div>
                        <img src="{% static "images/horizontal-seperator.png" %}" alt="Horizontal separator">
                        <div class="flex justify-between py-2 text-xl font-bold">
                            <span>Total</span>
                            <span>€{{ grand_total|floatformat:2 }}</span>
                        </div>
                        <img src="{% static "images/horizontal-seperator.png" %}" alt="Horizontal separator">
                    </div>
                </div>

                <!-- Cart Items -->
                <div class="w-full space-y-8 sm:w-2/3 md:w-full">
                    <h3 class="text-2xl font-bold text-center md:text-left">Items</h3>
                    {% for item in cart_items %}
                        <!-- Cart Item -->
                        <div class="flex flex-col items-center md:gap-10 lg:flex-row">
                            <a class="block w-2/3"  href="{% url "product-detail" item.item_id %}">
                                <img src="{{ item.product.get_image_url }}" alt="{{ item.product.name }} image">
                            </a>
                            <!-- Product Info -->
                            <div class="w-2/3">
                                <h3 class="text-sm text-gray-500">{{ item.product.department.name }} {{ item.product.shoe_type.name }}</h3>
                                <h2 class="text-nowrap">{{ item.product.name }}</h2>
                                <div class="flex gap-2">
                                    <p>Size: <strong>{{ item.size }}</strong></p>
                                    <p>Qty: <strong>{{ item.quantity }}</strong></p>
                                </div>
                                {% if item.product.on_sale %}
                                    <div class="flex gap-2">
                                        <div class="flex flex-col items-center justify-center px-2 text-sm text-white bg-black">
                                            -{{ item.product.sale_percentage|floatformat:"0" }}%
                                        </div>
                                        <span class="line-through">
                                            €{{ item.product.list_price | calc_subtotal:item.quantity | floatformat:2 }}
                                        </span>
                                        <span class="font-bold">
                                            €{{ item.product.current_price | calc_subtotal:item.quantity | floatformat:2 }}
                                        </span>
                                    </div>
                                {% else %}
                                    <span class="font-bold">
                                        €{{ item.product.current_price | calc_subtotal:item.quantity | floatformat:2 }}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <a href="{% url "view-cart" %}" class="w-2/3 px-5 py-3 text-sm font-medium text-center transition-all border rounded-lg cursor-pointer md:w-full hover:bg-gray-100">Adjust Cart</a>
            </div>

        {% else %}
            <!-- Empty Cart Message -->
            <div class="py-12 mx-auto space-y-8 text-lg text-center">
                <p class="text-center text-gray-400">Your shopping cart is empty</p>
                <a class="block px-8 py-3 border rounded cursor-pointer" href="{% url "home" %}">Keep Shopping</a>
            </div>
        {% endif %}

        {% comment %} Loading Overlay {% endcomment %}
        <div id="loading-overlay" class="fixed inset-0 z-50 items-center justify-center hidden bg-black bg-opacity-50 backdrop-blur-sm">
            <div class="absolute inset-0 bg-black opacity-50"></div>
            <div class="relative z-10 p-5 text-white rounded">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" width="200" height="200" style="shape-rendering: auto; display: block; background: transparent;" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <circle stroke-dasharray="164.93361431346415 56.97787143782138" r="35" stroke-width="12" stroke="#ffffff" fill="none" cy="50" cx="50">
                        <animateTransform keyTimes="0;1" values="0 50 50;360 50 50" dur="1s" repeatCount="indefinite" type="rotate" attributeName="transform"></animateTransform>
                    </circle>
                </svg>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js_scripts %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"stripe-public-key" }}
    {{ payment_intent_client_secret|json_script:"payment-intent-client-secret" }}
    <script src="{% static 'js/stripeElements.js' %}"></script>
{% endblock %}