@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  label,
  span {
    color: #333333;
  }
}

html {
  scroll-behavior: smooth;
}

label {
  @apply text-sm font-bold;
}

.errorlist {
  @apply text-red-500 text-sm leading-5;
}

/* x-cloak hides the element it's attached to until Alpine is fully loaded on the page. */
[x-cloak] {
  display: none !important;
}
