{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fleetfoot is your destination for the most stylish shoe brands, featuring a wide range of the latest comfortable shoes and sneakers on sale for any occasion.">
    <meta name="keywords" content="best shoes for running and gym, best adidas trainers for men, ladies shoes online sale, womens sneakers for comfort, best sneakers for everyday wear, popular shoes to buy, childrens shoes online sale, best slides for summer, sneakers for everyday use, mens shoes discount sale, shoes for indoor use, coolest kids shoes, latest comfortable shoes, stylish shoe brands, stylish high tops, sneakers on sale, top nike trainers">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- Alpine JS -->
    <script src="//unpkg.com/alpinejs" defer></script>

    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>

    <!-- Tailwind CSS -->
    {% tailwind_css %}
    <title>{% block title %}Fleetfoot{% endblock title %}</title>
</head>
<body x-data="{ openMobileNav: false, openLoginForm: false, openRegistrationForm: false, openWarningPopup: false}">
    <!-- Messages -->
    {% if messages %}
        <div class="fixed z-50 overflow-hidden border rounded shadow-lg top-6 right-6">
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    {% include "partials/toasts/toast-success.html" with message=message %}
                {% elif message.tags == 'error' %}
                    {% include "partials/toasts/toast-error.html" with message=message %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {% comment %} Navbar {% endcomment %}
    <header>
        <div class="absolute inset-x-0 top-0 z-40 flex-col items-center justify-between gap-4 px-12 py-5 md:py-4 lg:py-6 md:flex lg:flex-row lg:px-20">
            <nav aria-label="Department navigation">
                <button @click="openMobileNav = true" class="flex items-center justify-center w-12 h-12 mx-auto bg-white rounded-full cursor-pointer md:hidden" aria-label="Open mobile navigation">
                    <img width="50" height="50" class="w-6" src="{% static "images/hamburger-icon.svg" %}" alt="Hamburger menu icon">
                </button>
                <ul class="items-center hidden h-12 gap-2 px-4 py-2 bg-white rounded-full shadow-lg md:flex">
                    <li>
                        <a href="{% url "home" %}">
                            <img width="50" height="50" class="w-8" src="{% static "images/logo-icon.svg" %}" alt="Fleetfoot company logo">
                        </a>
                    </li>
                    <li class="flex items-center gap-2">
                        <a href="{% url 'products-list' 'mens' %}" class="text-sm font-base">Men</a>
                        <img width="50" height="50" class="h-6" src="{% static "images/menu-seperator.svg" %}" alt="Menu separator icon">
                    </li>
                    <li class="flex items-center gap-2">
                        <a href="{% url 'products-list' 'womens'%}" class="text-sm font-base">Women</a>
                        <img width="50" height="50" class="h-6" src="{% static "images/menu-seperator.svg" %}" alt="Menu separator icon">
                    </li>
                    <li class="pr-3">
                        <a href="{% url 'products-list' 'kids' %}" class="text-sm font-base">Kids</a>
                    </li>
                </ul>
            </nav>

            <nav aria-label="User and shopping navigation">
                <ul class="items-center hidden h-12 gap-8 px-6 py-4 bg-white rounded-full shadow-lg md:flex">
                    {% if not user.is_authenticated %}
                        <li class="flex items-center gap-2">
                            <img width="50" height="50" class="h-6" src="{% static "images/register-icon.svg" %}" alt="Register icon">
                            <button @click="openRegistrationForm = true" class="text-sm cursor-pointer font-base" aria-label="Open registration form">Register</button>
                        </li>
                        <li @click="openLoginForm = true" class="flex items-center gap-2">
                            <img width="50" height="50" class="h-5" src="{% static "images/auth-icon.svg" %}" alt="Login icon">
                            <button class="text-sm cursor-pointer font-base">Login</button>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="flex items-center gap-2">
                            <img width="50" height="50" class="h-5" src="{% static "images/auth-icon.svg" %}" alt="Sign out icon">
                            <a href="{% url "logout" %}" class="text-sm font-base">Sign Out</a>
                        </li>
                        <li class="flex items-center gap-2">
                            <img width="50" height="50" class="h-5" src="{% static "images/profile-icon.svg" %}" alt="Profile icon">
                            <a href="{% url "profile" %}" class="text-sm font-base">Profile</a>
                        </li>
                        <li class="flex items-center gap-2">
                            <img width="50" height="50" class="h-5" src="{% static "images/wishlist-icon.svg" %}" alt="Wishlist icon">
                            <a href="{% url "wishlist" %}" class="text-sm font-base">Wishlist</a>
                        </li>
                        {% if user.is_superuser %}
                            <li class="flex items-center gap-2">
                                <img width="50" height="50" width="50" height="50" class="h-5" src="{% static "images/admin-icon.svg" %}" alt="Admin section icon">
                                <a href="{% url "product-admin" %}" class="text-sm font-base">Admin</a>
                            </li>
                        {% endif %}
                    {% endif %}
                    <li class="flex items-center gap-2">
                        <img width="50" height="50" class="h-5" src="{% static "images/cart-icon.svg" %}" alt="Shopping cart icon">
                        <a href="{% url "view-cart" %}" aria-label="View shopping cart">
                            {% if grand_total %}
                                €{{ grand_total|floatformat:2 }}
                            {% else %}
                                €0.00
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    {% comment %} Mobile Menu {% endcomment %}
    <div x-show="openMobileNav" x-cloak class="fixed inset-x-0 top-0 z-50 flex flex-col items-center justify-center w-full h-full gap-6 py-20 text-black bg-white shadow md:hidden">
        <button @click="openMobileNav = false" class="absolute w-6 cursor-pointer right-6 top-6" aria-label="Close mobile navigation">
            <img width="50" height="50" src="{% static "images/close-icon.svg" %}" alt="Close">
        </button>
        <h2 class="text-4xl uppercase cursor-pointer text-bold"><a href="{% url "home" %}">Fleetfoot</a></h2>

        <nav aria-label="Main navigation">
            <ul class="relative flex gap-2">
                <li class="absolute top-0 -translate-x-1/2 -translate-y-32 left-1/2">
                    <a class="flex gap-2" href="{% url "view-cart" %}">
                        <img width="50" height="50" class="h-5" src="{% static "images/cart-icon.svg" %}" alt="View cart">
                        {% if grand_total %}
                            €{{ grand_total|floatformat:2 }}
                        {% else %}
                            €0.00
                        {% endif %}
                    </a>
                </li>
                <li class="flex items-center gap-2">
                    <a href="{% url 'products-list' 'mens' %}" class="text-2xl font-light">Men</a>
                    <img width="50" height="50" class="h-6" src="{% static "images/menu-seperator.svg" %}" alt="Menu separator">
                </li>
                <li class="flex items-center gap-2">
                    <a href="{% url 'products-list' 'womens' %}" class="text-2xl font-light">Women</a>
                    <img width="50" height="50" class="h-6" src="{% static "images/menu-seperator.svg" %}" alt="Menu separator">
                </li>
                <li class="pr-3">
                    <a href="{% url 'products-list' 'kids' %}" class="text-2xl font-light">Kids</a>
                </li>
            </ul>
        </nav>

        <img class="w-1/3" src="{% static "images/horizontal-seperator.png" %}" alt="Horizontal separator">

        <nav aria-label="User account and authentication">
            <ul class="flex items-center justify-center gap-4">
                {% if not user.is_authenticated %}
                    <li class="flex items-center gap-2">
                        <button @click="openRegistrationForm = true" class="text-lg font-light cursor-pointer" aria-label="Register">Register</button>
                        <img width="50" height="50" class="h-6" src="{% static "images/menu-seperator.svg" %}" alt="Menu separator">
                    </li>
                    <li class="flex items-center gap-2">
                        <button @click="openLoginForm = true" class="text-lg font-light cursor-pointer" aria-label="Login">Login</button>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="flex items-center gap-2">
                        <a href="{% url "logout" %}" class="text-lg font-light">Sign Out</a>
                    </li>
                {% endif %}
            </ul>

            <ul class="flex items-center justify-center gap-4 mt-2">
                {% if user.is_authenticated %}
                    <li class="flex items-center gap-2">
                        <a href="{% url "profile" %}" class="text-lg font-light">Profile</a>
                        <img width="50" height="50" class="h-6" src="{% static "images/menu-seperator.svg" %}" alt="Menu separator">
                    </li>
                    <li class="flex items-center gap-2">
                        <a href="{% url "wishlist" %}" class="text-lg font-light">Wishlist</a>
                    </li>
                    {% if user.is_superuser %}
                        <img width="50" height="50" class="h-6" src="{% static "images/menu-seperator.svg" %}" alt="Menu separator">
                        <li class="flex items-center">
                            <a href="{% url "product-admin" %}" class="text-lg font-light">Admin</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>
        <img class="absolute bottom-0 w-2/3" src="{% static "images/footer-image.webp" %}" alt="Footer decoration">
    </div>

    {% comment %} Login Form {% endcomment %}
    {% include "partials/login.html" with form=login_form %}
    {% comment %} Registration Form {% endcomment %}
    {% include "partials/registration.html" with form=registration_form %}

    {% block content %}{% endblock content %}

    {% comment %} Footer Section {% endcomment %}
    <footer class="relative flex flex-col items-center justify-center py-12 space-y-12 bg-black">
        <div class="flex flex-col items-center justify-center gap-8 md:flex-row max-w-[1200px] w-full md:px-16">
            <div class="flex items-center justify-center gap-8 md:self-end">
                <a href="{% static "images/fleetfoot-facebook-page.webp" %}" class="w-8 cursor-pointer" rel="noopener" target="_blank" aria-label="Fleetfoot on Facebook">
                    <img width="50" height="50" src="{% static 'images/facebook-logo.svg' %}" alt="Facebook logo">
                </a>
                <a href="https://instagram.com" class="w-8 cursor-pointer" rel="noopener" target="_blank" aria-label="Fleetfoot on Instagram">
                    <img width="50" height="50" src="{% static 'images/instagram-logo.svg' %}" alt="Instagram logo">
                </a>
                <a href="https://twitter.com" class="w-8 cursor-pointer" rel="noopener" target="_blank" aria-label="Fleetfoot on Twitter">
                    <img width="50" height="50" src="{% static 'images/twitter-logo.svg' %}" alt="Twitter logo">
                </a>
                <a href="https://github.com/ShaneDoyleDev" class="w-8 cursor-pointer" rel="noopener" target="_blank" aria-label="Fleetfoot on GitHub">
                    <img width="50" height="50" src="{% static 'images/github-logo.svg' %}" alt="GitHub logo">
                </a>
            </div>
        </div>

        <img src="{% static "images/horizontal-seperator.png" %}" alt="Horizontal separator">

        <nav class="space-y-2 text-center" aria-label="Footer links">
            <a class="block text-sm text-white underline opacity-80" href="https://www.termsfeed.com/live/a563c3a6-f140-469d-8834-920feee0bb83" target="_blank">Privacy Policy.</a>
            <span class="block text-sm text-white opacity-80">A project by <a class="font-medium underline" href="https://github.com/ShaneDoyleDev/fleetfoot">Shane Doyle.</a></span>
            <span class="block text-sm text-white opacity-80">©2024 Fleetfoot™. All Rights Reserved.</span>
        </nav>
    </footer>

    <!-- JS Scripts -->
    <script src="{% static 'js/wishlist.js' %}"></script>
    {% block js_scripts %}{% endblock js_scripts %}
</body>
</html>