{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- Alpine JS -->
    <script src="//unpkg.com/alpinejs" defer></script>

    <!-- Tailwind CSS -->
    {% tailwind_css %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <!-- Messages -->
    {% if messages %}
        <div x-data="{ messageOpen: true }">
            <div x-show="messageOpen" class="fixed top-0 left-0 z-50 flex justify-center w-full gap-6 py-4 bg-black">
                {% for message in messages %}
                <div class="" role="alert">
                    <p class="text-white animate-pulse">{{ message }}</p>
                </div>
                {% endfor %}
                <img @click="messageOpen = false" class="absolute w-4 cursor-pointer top-[20px] right-6" src="{% static "images/close-icon-white.svg" %}" alt="Close icon">
            </div>
        </div>
    {% endif %}

    {% block content %}{% endblock content %}
</body>
</html>