{% load static %}

<div id="toast-success" class="flex flex-col gap-4 p-4 px-6 shadow bg-slate-100">
    <div class="absolute top-0 left-0 right-0 h-1 bg-emerald-300"></div>
    <div class="flex gap-4">
        <span class="text-sm text-gray-500">{{ message }}</span>
        <img class="relative top-0 right-0 w-4 cursor-pointer" onclick="document.getElementById('toast-success').remove()" src="{% static "images/close-icon.svg" %}" alt="Close icon">
    </div>

    {% if grand_total %}
        <a class="block w-full py-3 text-center text-white bg-black rounded cursor-pointer" href="{% url "view-cart" %}">View Cart</a>
    {% endif %}
</div>