{% extends "base.html" %}

{% load static %}

{% block content %}
    {% comment %} Hero Section {% endcomment %}
    <div class="relative">
        <img width="1440" height="550" class="object-cover w-full max-h-screen" src="{% static "images/products-hero-image.webp" %}" alt="White sneakers with title text and globe icon.">
    </div>

    {% comment %} Shipping Discount Banner {% endcomment %}
    <div class="py-2 text-3xl text-center bg-black">
        <h2 class="px-2 font-black text-white">Free shipping for orders over €{{ free_delivery_threshold }}</h2>
    </div>

    <div class="mt-4 space-y-8">
        {% comment %} Products Section {% endcomment %}
        <h2 class="px-2 pt-6 text-3xl font-black text-center">{{ department|title }} {{ shoe_type.name|default:"Shoes" }}</h2>

        {% comment %} Shoe Type Menu {% endcomment %}
        <ul class="flex px-6 justify-center gap-4 flex-wrap items-center max-w-[650px] mx-auto">
            <li>
                <a class="{% if shoe_type == 'all' %}bg-black text-white px-2{% endif %} text-lg font-bold" href="{% url "products-list" department %}">All</a>
            </li>
            <li>
                <a class="{% if shoe_type.name == 'Sneakers' %}bg-black text-white px-2{% endif %} text-lg font-bold" href="{% url "products-list" department %}?shoe_type=sneakers">Sneakers</a>
            </li>
            {% if not department == 'kids'  %}
                <li>
                    <a class="{% if shoe_type.name == 'Trainers' %}bg-black text-white px-2{% endif %} text-lg font-bold" href="{% url "products-list" department %}?shoe_type=trainers">Trainers</a>
                </li>
                <li>
                    <a class="{% if shoe_type.name == 'High Tops' %}bg-black text-white px-2{% endif %} text-lg font-bold" href="{% url "products-list" department %}?shoe_type=high_tops">High Tops</a>
                </li>
                <li>
                    <a class="{% if shoe_type.name == 'Boots' %}bg-black text-white px-2{% endif %} text-lg font-bold" href="{% url "products-list" department %}?shoe_type=boots">Boots</a>
                </li>
            {% endif %}
            <li>
                <a class="{% if shoe_type.name == 'Slides' %}bg-black text-white px-2{% endif %} text-lg font-bold" href="{% url "products-list" department %}?shoe_type=slides">Slides</a>
            </li>
        </ul>

        <img class="w-1/3 mx-auto" src="{% static "images/horizontal-seperator.png" %}" alt="Line for horizontal seperation of menu elements">

        {% comment %} Sorting And Filtering {% endcomment %}
        <div class="flex flex-col items-center justify-center gap-6 px-4 pt-8 sm:gap-8 sm:px-16 md:px-20 sm:flex-row sm:justify-between">
            {% comment %} Products Search Bar {% endcomment %}
            <form class="w-full max-w-[400px] sm:max-w-[450px]" method="GET">
                <div class="flex overflow-hidden text-sm border-gray-300 rounded-sm bg-gray-50">
                    <input class="w-full py-2 pl-2 border" type="text" name="search_query" placeholder="Search products">
                    <button class="flex items-center justify-center w-10 transition-colors bg-black cursor-pointer hover:bg-gray-900">
                        <img width="50" height="50" class="w-6" src="{% static "images/search-icon.svg" %}" alt="Search icon">
                    </button>
                </div>
            </form>

            {% comment %} Products Sort Dropdown {% endcomment %}
            <select class="w-full max-w-[400px] sm:min-w-[160px] sm:max-w-[200px] p-2 text-sm text-gray-400 border rounded-sm cursor-pointer sm:w-1/3 hover:bg-gray-100 transition-colors" name="sort" id="sort" aria-label="Sort products" onchange="location = this.value;">
                <option value="?shoe_type={{ shoe_type.friendly_url_name|default:'all' }}&sort=name&direction=asc"
                        {% if request.GET.sort == 'name' and request.GET.direction == 'asc' %}selected{% endif %}>
                    Name (A-Z)
                </option>
                <option value="?shoe_type={{ shoe_type.friendly_url_name|default:'all' }}&sort=name&direction=desc"
                        {% if request.GET.sort == 'name' and request.GET.direction == 'desc' %}selected{% endif %}>
                    Name (Z-A)
                </option>
                <option value="?shoe_type={{ shoe_type.friendly_url_name|default:'all' }}&sort=current_price&direction=asc"
                        {% if request.GET.sort == 'current_price' and request.GET.direction == 'asc' %}selected{% endif %}>
                    Price (low to high)
                </option>
                <option value="?shoe_type={{ shoe_type.friendly_url_name|default:'all' }}&sort=current_price&direction=desc"
                        {% if request.GET.sort == 'current_price' and request.GET.direction == 'desc' %}selected{% endif %}>
                    Price (high to low)
                </option>
            </select>
        </div>

        {% comment %} Products List Grid {% endcomment %}
        <div class="py-10">
            {% if products %}
            <div class="grid gap-y-6 gap-24 lg:gap-x-28 px-8 sm:px-16 md:px-20 sm:grid-cols-2 lg:grid-cols-3 max-w-[1400px] mx-auto">
                {% for product in products %}
                    {% include "partials/product-card.html" with product=product %}
                {% endfor %}
            </div>
            {% else %}
                <p class="py-16 text-lg text-center text-gray-400">No products to show</p>
            {% endif %}
        </div>

        {% comment %} Pagination {% endcomment %}
        <nav aria-label="Page navigation">
            <div class="flex justify-center pb-8">
                <div class="flex items-center gap-2">
                    {% if products.has_previous %}
                        <a class="px-4 py-1 mr-2 text-white transition-colors bg-black hover:bg-gray-900" href="?page=1" aria-label="Go to first page">first</a>
                        <a class="text-2xl" href="?page={{ products.previous_page_number }}" aria-label="Go to previous page">&laquo;</a>
                    {% endif %}

                    {% for num in products.paginator.page_range %}
                        {% if products.number == num %}
                            <strong class="px-2 text-white bg-black" aria-current="page">{{ num }}</strong>
                        {% elif num > products.number|add:"-3" and num < products.number|add:"3" %}
                            <a class="p-2" href="?page={{ num }}" aria-label="Go to page {{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if products.has_next %}
                        <a class="text-2xl" href="?page={{ products.next_page_number }}" aria-label="Go to next page">&raquo;</a>
                        <a class="px-4 py-1 ml-2 text-white transition-colors bg-black hover:bg-gray-900" href="?page={{ products.paginator.num_pages }}" aria-label="Go to last page">last</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
{% endblock content %}