{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block content %}
    <!-- Hero Section -->
    <section class="relative">
        <img class="object-cover w-full max-h-screen" src="{% static "images/products-hero-image.webp" %}" alt="White sneakers with title text and globe icon.">
    </section>

    <!-- Add Product Banner -->
    <div class="py-2 text-3xl text-center bg-black">
        <h2 class="font-black text-white">Update Stock</h2>
    </div>

    <section class="flex flex-col items-center justify-between md:max-w-[1200px] px-12 py-12 mx-auto">
        <form id="payment-form" method="POST" action="{% url "add-product" %}" enctype="multipart/form-data" class="flex flex-col gap-4 w-full max-w-[550px]">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="add_product_stock_form">
            <!-- Product Input -->
            <div class="space-y-2">
                {{ product_stock_form.product.errors }}
                <label for="product">
                    {{ product_stock_form.product.label }}
                </label>
                {% render_field product_stock_form.product id="product" class="bg-gray-50 border border-gray-300 text-sm place rounded-lg block w-full p-2.5 cursor-pointer" placeholder="product *" %}
            </div>
            <div class="flex gap-4">
                <div class="w-full space-y-2">
                    {{ product_stock_form.size.errors }}
                    <label for="size">
                        {{ product_stock_form.size.label }}
                    </label>
                    {% render_field product_stock_form.size id="size" class="bg-gray-50 border border-gray-300 text-sm place rounded-lg block w-full p-2.5 cursor-pointer" placeholder="size *" %}
                </div>
                <!-- Stock Input -->
                <div class="w-full space-y-2">
                    {{ product_stock_form.stock.errors }}
                    <label for="stock">
                        {{ product_stock_form.stock.label }}
                    </label>
                    {% render_field product_stock_form.stock id="stock" class="bg-gray-50 border border-gray-300 text-sm place rounded-lg block w-full p-2.5" placeholder="stock *" %}
                </div>
            </div>

            <button id="submit-button" type="submit" class="text-white bg-black rounded-lg text-sm px-5 py-2.5 text-center">Update Stock</button>
        </form>
    </section>
{% endblock content %}
